body{
    background-image: url("PHOTOS/qualified2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: black;
    font-size: 100px;
    font-family: Georgia;
    text-align: center;
}

p{
    color: midnightblue;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    line-height: 0%;
}

.header {
    overflow: hidden;
    background-color: dodgerblue;
    /*padding: 20px 10px;*/
  }

  .header img{
    height: 50px;
    width: 50px;
  }
  

  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: cornflowerblue;
    color: White;
  }

  .header a.active {
    background-color: darkblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

/* END OF SECTION STYLE */

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dodgerblue;
    color: black;
    text-align: center;
  }

  #context ul {
    font-size: 30px;
    font-family: Arial;
    text-align: left;
    color: mediumblue;
  }

  #context img {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
